name: "CI"

on:
  push:
    paths-ignore:
      - ".gitignore"
      - ".dockerignore"
      - "mypy.ini"
      - ".pre-commit-config.yaml"
      - "README.md"
  pull_request:
    paths-ignore:
      - ".gitignore"
      - ".dockerignore"
      - "mypy.ini"
      - ".pre-commit-config.yaml"
      - "README.md"

jobs:
  ci:
    name: "Continuous Integration"
    strategy:
      matrix:
        python-version: [ "3.12" ]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        run: pip install uv

      - name: Cache uv virtualenv
        uses: actions/cache@v4
        with:
          path: .venv
          key: uv-venv-${{ hashFiles('pyproject.toml', 'requirements*.txt') }}

      - name: Install dependencies with uv
        run: uv sync

      - name: Linting
        run: uv run ruff check

      - name: Check types with mypy
        run: uv run mypy src --install-types --non-interactive
